.body {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.body_content {
  width: 25%;
}

.body_text {
  line-height: 25px;
  color: #1976d2;
}
.body_text:hover {
  color: tomato;
  cursor: pointer;
}
.years {
  /* margin-left: 40px; */
  text-align: end;
  color: #1976d2;
  border-bottom: 1px dashed #1976d2;
}

@media (max-width: 1400px) {
  .body_content {
    width: 45%;
    margin: 1%;
  }
}
@media (max-width: 900px) {
  .body_content {
    width: 100%;
  }
}
