* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Fira Sans", sans-serif;
}

button {
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline-width: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
._mr {
  margin: 1rem;
}
.container {
  width: 80%;
  margin: auto;
}
.flex {
  display: flex;
}
.flex_align {
  display: flex;
  align-items: center;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input {
  background-color: rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid black;
}

.error_input {
  border-bottom: 1px solid red;
}

.input > input {
  outline-width: 0;
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 10px;
}
